<h2>How We Work</h2>
<p>We're a remote first company with a cohesive team, working asynchronously to help people across the globe to build and scale their dream projects.
</p>
<p>We prefer documentation over talks and over communicating things to make them clear to everyone. Kabbur Technologies believes in small teams as they are fast and nimble, which means less management and getting more things done.
</p>
<p>We follow agile methodology which involves sprint planning, daily updates, sprint retrospective, client demo, UAT apart from requirement gathering, design work, feature implementation, testing, deployment and maintenance.
</p>
<p>Instant feedback and healthy discussions are a part of ScaleReal’s culture.</p>