<section class="jumbotron">
  <div class="dark-mask"></div>
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>Founded in 2018 by Deepak and Chetan, Kabbur Technologies emerged as a response to the burgeoning need for specialized technology solutions in the growing market of India. Deepak, a software enthusiast, and Chetan, a hardware expert, combined their passion and expertise to serve small-scale industries initially within Karnataka and Maharashtra states. Today, Kabbur Technologies proudly serves clients nationally and internationally, providing tailored solutions to meet diverse needs.</p>
          <p>What began as freelancing driven by passion in our respective fields has evolved into our primary service offering. At Kabbur Technologies, we showcase our dedication and knowledge through our work, with a singular focus on delivering an exceptional customer experience.</p>  
        </div>
      </div>
  </div>
</section>
<section class="bar background-image-fixed-journey no-mb color-white text-center">
  <div class="dark-mask"></div>
  <div class="container">
    
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Our Journey</h2>
        <p class="lead text-strong">Deepak's passion for software development and Chetan's expertise in hardware engineering laid the foundation for Kabbur Technologies. Together, they embarked on a journey to provide ad hoc solutions to small-scale industries, gradually expanding their reach across regions and industries.</p>
      </div>
      <div class="col-md-6">
        <h3>Our Mission</h3>
        <p class="lead text-strong">At Kabbur Technologies, we are committed to delivering innovative technology solutions that empower businesses to thrive in an ever-evolving digital landscape. Our mission is to cultivate and support our clients' progress by understanding their unique needs and providing collaborative, tailored services.</p>
      </div>
      <div class="col-md-6">
        <h3>Our Vision</h3>
        <p class="lead text-strong">Our vision at Kabbur Technologies is to be a trusted partner and leader in providing cutting-edge technology solutions that drive growth and innovation for businesses worldwide.</p>
      </div>
      </div>
    </div>
  </div>
</section>
<section class="bar background-image-fixed-journey no-mb color-white text-center">
    <div class="dark-mask"></div>
      <div class="row text-center">
  </div>
  </div>
</section>
<!-- <div class="container" role="main">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="col-md-12">
                <p>Crafting innovative solutions for today's technical landscape requires a diverse array of talented individuals, equipped with the necessary technical acumen to tackle present-day challenges while envisioning future possibilities.
                </p>
                <p> At Kabbur Technologies, we pride ourselves on our ability to deliver cutting-edge solutions that address the complexities of the modern world. Our approach revolves around harnessing the expertise of top-tier engineers who have successfully tackled significant challenges across various industries, positioning us as leaders in the field.</p>
                <p>       Our clients benefit from solutions crafted by some of the brightest minds in engineering, individuals who have a proven track record of solving critical problems for global leaders across diverse sectors. By leveraging our expertise, companies can stay ahead in an ever-evolving landscape.</p>
                <p>       For our consultants, working with Kabbur Technologies offers a sense of purpose and fulfillment. In exchange for flexibility and exposure to a variety of projects, our engineers contribute to keeping businesses relevant amidst rapid change.</p>
                <p>At the core of our operations lies a commitment to continuous learning and development. Our Learning and Performance Solutions team ensures that our experts are equipped with the latest skills and knowledge to excel in their roles. Working closely with program managers, we tailor individualized training plans to bridge skill gaps, empower our teams to take on new challenges, and seamlessly onboard into new projects.</p>
                <p>With a focus on innovation, expertise, and continuous growth, Kabbur Technologies stands ready to partner with you in navigating the complexities of the digital age and driving meaningful progress.</p>
            </div>
    </div>
  </div>
</div> -->